.loginWrap {
    position: relative;
    margin: 0 auto;
    background: #ecf0f1;
    width: 350px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px #333;
    padding: 15px;
}

.loginWrapH2 {
    text-align: center;
    font-weight: 200;
    font-size: 2em;
    margin-top: 10px;
    color: #34495e;
}

.form {
    padding-top: 20px;
}

.loginButton {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 25px;
    height: 40px;
    border-radius: 5px;
    outline: 0;
    background: #e74c3c;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 200;
    cursor: pointer;
    transition: box-shadow .4s ease;
}

.inputtext {
    border: 1px solid #bbb;
    padding: 0 0 0 10px;
    font-size: 14px;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 25px;
    height: 40px;
    border-radius: 5px;
    outline: 0;
}

.inputPassword {
    border: 1px solid #bbb;
    padding: 0 0 0 10px;
    font-size: 14px;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 25px;
    height: 40px;
    border-radius: 5px;
    outline: 0;
}

.inputtext:focus {
    border: 1px solid #3498db;
}

.inputPassword:focus {
    border: 1px solid #3498db;
}




.para {
    padding-bottom: 10px;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(0, 0, 0);
}

.loginbutton:hover {
    box-shadow: 1px 1px 5px #555;
}

.loginButton:active {
    box-shadow: 1px 1px 7px #222;
}





.form:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 5px 5px 0 0;
}

.error {
    text-align: center;
    color: red;
}

